ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
}

ion-input, ion-textarea,  ion-select {
  margin-bottom: 10px;
}

ion-select,
ion-input,
ion-textarea {
  width: 100%;
}

@media (max-width: 576px) {
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-button {
    margin: 5px 0;
  }

  ion-col {
    padding: 0;
  }

  iframe {
    height: 300px;
  }
}

ion-card {
  margin: 10px;
}

iframe {
  border: none;
}

.list-md {
  background: none;
}
