<ion-header>
  <ion-toolbar>
    <ion-title>Architech Zone Receipt Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="receiptForm" *ngIf="!showPreview">
    <!-- Customer Name -->
    <ion-input label="Customer Name" label-placement="floating" fill="outline" placeholder="Enter Customer Name"
      formControlName="customerName"></ion-input>
    <!-- Customer Address -->
    <ion-textarea label="Customer Address" label-placement="floating" fill="outline"
      placeholder="Enter Customer Address" formControlName="customerAddress" auto-grow="true"></ion-textarea>
    <!-- invoice Number -->
    <ion-input label="Invoice Number" label-placement="floating" fill="outline" placeholder="Enter Invoice Number"
      formControlName="invoiceNumber"></ion-input>
    <!-- Date -->
    <ion-input label="Date" label-placement="floating" fill="outline" placeholder="Choose Date" id="date"
      formControlName="date"></ion-input>
    <ion-popover trigger="date" size="cover">
      <ng-template>
        <ion-datetime [showDefaultButtons]="true" presentation="date" [(ngModel)]="date" locale="sl-SI"></ion-datetime>
      </ng-template>
    </ion-popover>

    <fieldset>
      <legend>Add Services</legend>
      <ion-list formArrayName="services">
        <div *ngFor="let service of servicesFormArray.controls; let i = index" [formGroupName]="i">

          <ion-row>
            <ion-col size="6">
              <ion-select formControlName="serviceSelector" (ionChange)="onServiceChange(i)"
                placeholder="Select Service" label="Service" label-placement="floating" fill="outline">
                <ion-select-option *ngFor="let s of services" [value]="s.name">{{ s.name }}</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select></ion-col>
            <ion-col size="6">
              <ion-input *ngIf="service.get('serviceSelector')?.value === 'Other'" formControlName="customServiceName"
                placeholder="Custom Service Name" label="Custom Service Name" label-placement="floating"
                fill="outline"></ion-input>
            </ion-col>

            <ion-col size="6">
              <ion-input formControlName="price" type="number" placeholder="Price" label="Price"
                label-placement="floating" fill="outline"></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-button class="button" (click)="removeService(i)">
                <ion-icon slot="start" name="trash"></ion-icon>
                Delete
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
    </fieldset>

    <ion-button expand="full" class="button add-service" (click)="addService()">Add Service</ion-button>
    <ion-input class="total" [readonly]="true" label="Total" [value]="total" label-placement="floating"
      fill="outline"></ion-input>


    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" color="medium" (click)="previewPDF()">Preview PDF</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" color="success" (click)="generatePDF()">Generate PDF</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-card *ngIf="showPreview">
    <ion-card-header>
      <ion-card-title>PDF Preview</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <iframe [src]="pdfDataUrl | safeUrl" width="100%" height="400px"></iframe>
      <ion-row>
        <ion-col size="4">
          <ion-button expand="full" color="danger" (click)="closePreview()">Close</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" color="success" (click)="generatePDF()">Download</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" color="primary" (click)="shareWhatsApp()">
            <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
            Share
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
